<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="GroupsMapper">

    <!--查询结果列 -->
    <sql id="selectGroupsCloumns">
        id,
        groupNum,
        groupName,
        capsuleNum,
        userID,
        userStatus,
        groupStatus,
        creatTime,
        lastUpdate
    </sql>

    <!-- 新增-->
    <insert id="save" parameterType="com.domain.dto.GroupsDto" useGeneratedKeys="true" keyProperty="id">
        insert into groups(
          id,
          groupNum,
          groupName,
          capsuleNum,
          userID,
          userStatus,
          groupStatus,
          creatTime,
          lastUpdate
        ) values (
          #{id},
          #{groupNum},
          #{groupName},
          #{capsuleNum},
          #{userID},
          #{userStatus},
          #{groupStatus},
          #{creatTime},
          #{lastUpdate}
        )
    </insert>

    <!--根据主键删除-->
    <delete id="deleteById" parameterType="com.domain.dto.GroupsDto">
		delete from groups
		where id = #{id}
	</delete>

    <!-- 修改 -->
    <update id="editById" parameterType="com.domain.dto.GroupsDto">
        update groups set
        <if test="id !=null">
            id = #{id},
        </if>
        <if test="groupNum !=null and groupNum != ''">
            groupNum = #{groupNum},
        </if>
        <if test="groupName !=null and groupName != ''">
            groupName = #{groupName},
        </if>
        <if test="capsuleNum !=null and capsuleNum != ''">
            capsuleNum = #{capsuleNum},
        </if>
        <if test="userID !=null">
            userID = #{userID},
        </if>
        <if test="userStatus !=null and userStatus != ''">
            userStatus = #{userStatus},
        </if>
        <if test="groupStatus !=null and groupStatus != ''">
            groupStatus = #{groupStatus},
        </if>
        <if test="creatTime !=null">
            <![CDATA[creatTime = #{creatTime},]]>
        </if>
        <if test="lastUpdate !=null">
            <![CDATA[lastUpdate = #{lastUpdate},]]>
        </if>
        id = #{id}

        where id = #{id}
    </update>

    <!-- 通过ID获取数据 -->
    <select id="findById" parameterType="com.domain.dto.GroupsDto" resultType="com.domain.dto.GroupsDto">
        select
        <include refid="selectGroupsCloumns" />
        from  groups
        where id = #{id}
    </select>

    <!-- 列表查询 -->
    <select id="list" parameterType="com.domain.dto.GroupsDto" resultType="com.domain.dto.GroupsDto">
        select
        <include refid="selectGroupsCloumns" />
        from  groups
        <!--查询条件-->
        where 1 = 1
        <if test="id !=null">
            and id = #{id}
        </if>
        <if test="groupNum !=null and groupNum != ''">
            and groupNum = #{groupNum}
        </if>
        <if test="groupName !=null and groupName != ''">
            and groupName = #{groupName}
        </if>
        <if test="capsuleNum !=null and capsuleNum != ''">
            and capsuleNum = #{capsuleNum}
        </if>
        <if test="userID !=null">
            and userID = #{userID}
        </if>
        <if test="userStatus !=null and userStatus != ''">
            and userStatus = #{userStatus}
        </if>
        <if test="groupStatus !=null and groupStatus != ''">
            and groupStatus = #{groupStatus}
        </if>
        <if test="creatTime !=null">
            and <![CDATA[creatTime = #{creatTime}]]>
        </if>
        <if test="lastUpdate !=null">
            and <![CDATA[lastUpdate = #{lastUpdate}]]>
        </if>
    </select>

    <!-- 分页查询 -->
    <select id="page" parameterType="com.domain.dto.GroupsDto" resultType="com.domain.dto.GroupsDto">
        select
        <include refid="selectGroupsCloumns" />
        from  groups
        <!--查询条件-->
        where 1 = 1
        <if test="id !=null">
            and id = #{id}
        </if>
        <if test="groupNum !=null and groupNum != ''">
            and groupNum = #{groupNum}
        </if>
        <if test="groupName !=null and groupName != ''">
            and groupName = #{groupName}
        </if>
        <if test="capsuleNum !=null and capsuleNum != ''">
            and capsuleNum = #{capsuleNum}
        </if>
        <if test="userID !=null">
            and userID = #{userID}
        </if>
        <if test="userStatus !=null and userStatus != ''">
            and userStatus = #{userStatus}
        </if>
        <if test="groupStatus !=null and groupStatus != ''">
            and groupStatus = #{groupStatus}
        </if>
        <if test="creatTime !=null">
            and <![CDATA[creatTime = #{creatTime}]]>
        </if>
        <if test="lastUpdate !=null">
            and <![CDATA[lastUpdate = #{lastUpdate}]]>
        </if>
    </select>
</mapper>